* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f9;
  color: #333;
  line-height: 2.3;
  padding: 20px;
  width: 100%;
  padding-right: 10px;
  max-width: 1200px;
  margin: auto;
  font-size: 1.1rem;
  text-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1,
h2 {
  font-family:"Roboto Slab", serif;
  font-size: 4rem;
   
  text-align: center;
}
h3,
h4 {
  font-family: "Roboto Slab", serif;
  font-size: 3.em;
   
  text-align: center;
}

p,
a {
  font-family:  'Quicksand', sans-serif;
}

section {
  margin-bottom: 20px;
}

#name {
  font-size: 4rem;
}

#image {
  padding: 5px;
  width: 300px;
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

#first {
  color: seashell;
  background-color: #0a1f4b;
  padding: 30px;
  padding-bottom: 60px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.underline {
  text-decoration: underline;
}

#second,
#third,
#fourth,
#fifth,
#sixth,
#seventh {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #0a1f4b;
  background-color: #e2e8d5;
}

ul {
  width: 0;
  margin: auto;
  text-align: none;
  font-size: 1.5rem;
  font-weight: bold;
}

#second,
#third {
  margin-top: 40px;
  width: 600px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}

#fourth,
#sixth {
  margin-top: 40px;
  width: 600px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}

.same,
.same2 {
  display: flex;
  flex-direction: row;
}
.skills-heading {
  font-size: 2.8rem;
  color: #0a1f4b;
  margin-bottom: 20px;
  font-weight: bolder;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  background-color: #0a1f4b;
  color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
}

#sixth {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#fifth {
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

.link {
  color: #0a1f4b;
}
a:hover {
  background-color: slategray;
  color: darkblue;
  font-weight: bolder;
  padding: 10px;
}

#seventh {
  text-align: justify;
  
}
 
.contact {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.cs{
  font-size: 3.6rem;
}

.icon{
  position: relative;
  top: 7px;
  margin-right: 5px;
  width: 25px;  
  height: 25px;
  font-weight: bold;
}



@media screen and (max-width: 600px) {
  #first {
    display: block;
  }
  * {
    text-align: center;
  }
  #second, #third, #fourth,
  #sixth{
    margin-left: 0;
    margin-right: 0;
  } 

  #second,
  #third,
  #fourth,
  #sixth {
    width: 100vw;
    display: block;
  }
  .same,
  .same2,
  .same3,
  .same4 {
    display: block;
  }

  .skills {
    grid-template-columns: 1fr;
  }

  .contact {
    padding-left: 0px;
  }
  body{
    padding: 0;
  }

  #name{
    font-size: 2.3rem;
    text-wrap: nowrap;
    
  }

  .cs{
    font-size: 1.8rem;
    text-wrap: nowrap;
  }
  
  .email{
    text-wrap: nowrap;
  }

  h1,h2,h3,h4{
    font-size: 2rem;
  }

  btn{
    text-wrap: nowrap;
  }
}
